* { 
    margin: 0;
    margin:
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1100px; 0 auto;
}
.header section {

}
.header-menu {
    display: flex;
    justify-content: space-between;
}

}
.logu {

}
.logu img {
    width: 72px;

}
.menu {

}
.menu ul {
    list-style-type: none;

}
.menu ul li {

}
.menu ul li a {
    text-decoration: none;

 }
 .header-btn {
    display: inline-block;
    background-color: #21B573;
    color: #fff !important;
    padding: 4px 24px;
    border-radius: 35px;
 }