* { 
    margin: 0;
    margin:
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1100px; 0 auto;
}
.header section {

}
.header-menu {
    display: flex;
    justify-content: space-between;
}

}
.logu {

}
.logu img {
    width: 72px;

}
.menu {

}
.menu ul {
    list-style-type: none;

}
.menu ul li {

}
.menu ul li a {
    text-decoration: none;

 }
 .header-btn {
    display: inline-block;
    background-color: #21B573;
    color: #fff !important;
    padding: 4px 24px;
    border-radius: 35px;
 }
 .header-section {
    position: absolute;
    top: 10px;
    width: 100%;

 }
 .default-btn {
    
    display: inline-block;
    background-color: #21B573;
    color: #fff !important;
    padding: 4px 24px;
    border-radius: 35px;
    text-decoration: none;
 }
 .hero-section {
    height: 70vh;
    border: 2px solid red;
    display: flex;
    align-items: center;
    padding-top: 64px;
 }
 .hero-content p {
    color: #fd511a;
 }
 .hero-content h1 {
    color: #000;
 }
 .hero-content h1 span {
    color: #21B573;
 }
.hero-content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero-content {
    width: 45%;


}
.hero-img {
    width: 55%;
}
.primary-descripion {

}
.secondary-descripion {

}
.img {
    max-width: 100%;
}